<div>
    <h2><span jhi-translate="jhipsterApp.book.home.title">Books</span>
        <button class="btn btn-primary float-xs-right" uiSref="book.new">
            <span class="fa fa-plus"></span>
            <span  jhi-translate="jhipsterApp.book.home.createLabel">
            Create new Book
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="books">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhi-translate="global.field.id">ID</span></th>
            <th><span jhi-translate="jhipsterApp.book.name">Name</span></th>
            <th><span jhi-translate="jhipsterApp.book.year">Year</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let book of books ;trackBy trackId">
                <td><a uiSref="book-detail" [uiParams]="{ id: book.id }">{{book.id}}</a></td>
                <td>{{book.name}}</td>
                <td>{{book.year}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                uiSref="book-detail"
                                [uiParams]="{ id: book.id }"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-xs hidden-sm" jhi-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                uiSref="book.edit"
                                [uiParams]="{ id: book.id }"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-xs hidden-sm" jhi-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                uiSref="book.delete"
                                [uiParams]="{ id: book.id }"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-xs hidden-sm" jhi-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
